body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fast-section{
    display: flex; 
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.another-color{
    color: orange;
}
.one-sec{
    padding-left: 6%;
    width: 50%
}
.one-sec img{
    width: 80%;
}
.button{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(rgb(250, 102, 102), orange);
    font-weight: 700;
    padding: 10px 40px;
}
.mar-top{
    margin-top: 170px;
}
.sedond-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.third-enter{
    display: flex;
}
.div-1{
    width: 50%;
    margin-bottom: 150px;
    box-shadow: 10px 10px 40px grey;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 20px;
    border-radius: 10px;
}
#left-border{
    border-left: 7px;
    border-image: linear-gradient(rgb(250, 102, 102), orange);
    border-image-slice: 1;
}
#left-border-2{
    border-left: 7px;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}