body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fast-section{
    display: flex; 
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.another-color{
    color: orange;
}
.one-sec{
    padding-left: 6%;
    width: 50%
}
.one-sec img{
    width: 80%;
}
.button{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(rgb(250, 102, 102), orange);
    font-weight: 700;
    padding: 10px 40px;
}
.mar-top{
    margin-top: 180px;
}
footer{
    text-align: center;
}